<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>book1.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,363},{111,117}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{111,117}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>book10.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,245},{119,120}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{119,120}}</string>
                <key>sourceSize</key>
                <string>{133,122}</string>
            </dict>
            <key>book2.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,578},{115,113}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{115,113}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>book3.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,243},{119,111}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{119,111}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>book4.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,704},{113,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{113,113}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>book5.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,366},{117,91}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,13},{117,91}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>book6.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,687},{109,115}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{109,115}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>book7.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,124},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>cloth1.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,459},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{116,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>cloth2.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,243},{114,118}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{114,118}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>cloth3.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,577},{108,116}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{108,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>cloth4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,389},{116,116}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{116,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>cloth5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,271},{116,120}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{116,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>cloth6.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,476},{112,114}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{112,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>cloth7.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,462},{116,114}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{116,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>cloth8.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,583},{114,106}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{114,106}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hat1.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,896},{106,106}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{106,106}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hat2.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,910},{110,100}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,10},{110,100}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hat3.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,790},{108,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{108,104}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hat4.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,691},{104,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,3},{104,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hat5.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,243},{104,118}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,1},{104,118}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hat6.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,590},{106,114}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{106,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hat7.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,896},{106,104}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,9},{106,104}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hat8.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,585},{106,114}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{106,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>hat9.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,910},{101,111}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{101,111}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>horse1.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,2},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>horse2.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,2},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>horse3.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,2},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>horse4.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>horse5.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>horse6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,149},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>horse7.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,123},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>horse8.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>shoes1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,623},{116,94}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,15},{116,94}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>shoes2.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,798},{112,110}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{112,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>shoes3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,507},{116,114}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{116,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>shoes4.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,476},{114,116}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{114,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>shoes5.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,473},{114,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{114,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>sword1.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,349},{117,117}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{117,117}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>sword10.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,702},{86,114}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,1},{86,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>sword11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{147,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{147,145}}</string>
                <key>sourceSize</key>
                <string>{149,147}</string>
            </dict>
            <key>sword12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,719},{112,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,114}}</string>
                <key>sourceSize</key>
                <string>{112,114}</string>
            </dict>
            <key>sword13.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,243},{119,115}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{119,115}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>sword14.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,124},{119,117}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{119,117}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>sword15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,910},{111,111}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{111,111}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>sword16.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,124},{117,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{117,119}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>sword17.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,360},{117,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,111}}</string>
                <key>sourceSize</key>
                <string>{117,111}</string>
            </dict>
            <key>sword18.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,468},{115,117}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{115,117}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>sword19.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,243},{108,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,119}}</string>
                <key>sourceSize</key>
                <string>{108,119}</string>
            </dict>
            <key>sword2.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,246},{115,119}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{115,119}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>sword20.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,353},{118,112}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{118,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>sword21.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,356},{104,118}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,1},{104,118}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>sword22.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,359},{115,117}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{115,117}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>sword23.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,2},{119,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{119,121}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>sword24.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,698},{101,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,100}}</string>
                <key>sourceSize</key>
                <string>{101,100}</string>
            </dict>
            <key>sword25.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,693},{102,114}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{102,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>sword3.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,589},{111,115}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{111,115}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>sword4.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,124},{119,117}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{119,117}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>sword5.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,124},{117,119}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{117,119}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>sword6.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,592},{115,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,110}}</string>
                <key>sourceSize</key>
                <string>{115,110}</string>
            </dict>
            <key>sword7.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,693},{98,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{98,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>sword8.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,124},{117,119}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{117,119}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>sword9.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,467},{115,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,114}}</string>
                <key>sourceSize</key>
                <string>{115,114}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>equipment.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0c86fb4110119d48e1f8b4f2514f40c3$</string>
            <key>textureFileName</key>
            <string>equipment.pvr.ccz</string>
        </dict>
    </dict>
</plist>
