<?xml version="1.0" encoding="UTF-8"?>  
<plist version="1.0">  
<dict>  
   <key>level_d</key>
   <string>等级:%d</string>
   <key>intensify_d</key>
   <string>强化:%s%d</string>
   <key>star_d</key>
   <string>星级:%d</string>
   <key>speed_d</key>
   <string>速度:%s%d</string>
   <key>block_d</key>
   <string>格挡:%s%d%%</string>
   <key>hp_d</key>
   <string>生命:%s%d</string>
   <key>critDmg_d</key>
   <string>暴击伤害:%s%d%%</string>
   <key>crit_d</key>
   <string>暴击:%s%d%%</string>
   <key>ap_d</key>
   <string>物攻:%s%d</string>
   <key>mp_d</key>
   <string>魔攻:%s%d</string>
   <key>define_d</key>
   <string>物防:%s%d</string>
   <key>mDefine_d</key>
   <string>魔防:%s%d</string>
    <key>errorContent</key>
   <string>非常抱歉哦！游戏出现了一个错误。请重新打开游戏选择上传错误日志，以便帮助我们改善游戏哦☆⌒(*＾-゜)v THX!!...</string>
   <key>error</key>
   <string>错误</string>
   <key>levelupTitle</key>
   <string>升级</string>
   <key>intensifyTitle</key>
   <string>强化</string>
   <key>levelTips</key>
   <string>你确定要花费【%d金币】升级【%s】吗？</string>
   <key>intensifyTips</key>
   <string>你确定要花费【%d钻石】和一件【%s】来强化【%s】吗？</string>
   <key>notEnoughGold</key>
   <string>你的【金币】不够哦,去战斗获取吧...</string>
    <key>notEnoughDiamond</key>
   <string>你的【钻石】不够哦,去战斗获取吧...</string>
   <key>notEnougMaterial</key>
   <string>你没有多余的【%s】...</string>
   <key>succed</key>
   <string>恭喜！【%s】的属性增强了...</string>
   <key>failed</key>
   <string>很遗憾哦，失败了呢...</string>
   <key>sellTitle</key>
   <string>出售</string>
   <key>abandonTitle</key>
   <string>丢弃</string>
   <key>abandon</key>
   <string>你确定要丢弃【%s】吗，你将不会得到任何东西呢？推荐你使用出售功能哦...</string>
   <key>sell</key>
   <string>你确定要以【%d金币】价格出售【%s】吗？</string>
   <key>sellSucced</key>
   <string>出售成功，获得【%d金币】</string>
   <key>abandonSucced</key>
   <string>丢弃成功...</string>
   <key>loginRewardTips</key>
   <string>获得【%d金币】【%d钻石】</string>
   <key>loginRewardTimeTips1</key>
   <string>距离领取:%d时%d分%d秒</string>
   <key>loginRewardTimeTips2</key>
   <string>你可以领取以下奖励：</string>
   <key>rewardGold</key>
   <string>金币：%d</string>
   <key>rewardExp</key>
   <string>经验：%d</string>
   <key>rewardDiamond</key>
   <string>钻石：%d</string>
   <key>levelupGift</key>
   <string>%d级礼包</string>
   <key>battleSuc</key>
   <string>英雄下阵成功！</string>
   <key>unbattleSuc</key>
   <string>英雄上阵成功！</string>
   <key>atleastOneHero</key>
   <string>下阵失败,不能所有的英雄都下阵!</string>
   <key>unEquipmentSuc</key>
   <string>卸下成功！</string>
   <key>equipmentSuc</key>
   <string>装备成功！</string>
   <key>buyHero</key>
   <string>你确定花费【%d钻石】，获得一位随机英雄吗？</string>
   <key>buyDiamond</key>
   <string>你确定花费【%d金币】，购买【%d钻石】吗？</string>
   <key>buyGold</key>
   <string>你确定花费【%d钻石】，购买【%d金币】吗？</string>
   <key>buySuc</key>
   <string>购买成功...</string>
   <key>buyError</key>
   <string>购买失败，钻石或金币不足...</string>
   <key>buyTitle</key>
   <string>购买</string>
   <key>buy</key>
   <string>你确定花费【%d钻石】，购买【%s】吗？</string>
   <key>illegal</key>
   <string>系统检测到您非法游戏，请点击确认清除游戏数据，以便正常进入游戏...</string>
   <key>storeUpdate</key>
   <string>商店的物品刷新了...</string>
   <key>storeTips</key>
   <string>商店物品每【6小时】刷新一次...</string>
   <key>rgold</key>
   <string>金币:%d</string>
   <key>rexp</key>
   <string>经验:%d</string>
   <key>rreward</key>
   <string>随机掉落:%s</string>
   <key>lvNoEnough</key>
   <string>你的等级小于【Lv:%d】,无法挑战...</string>
   <key>pvpnomoney</key>
   <string>你的金币不足【%d】,无法开始一场匹配比赛...</string>
   <key>neterror</key>
   <string>亲，你的网络或者服务器开小差了...</string>
   <key>usercancel</key>
   <string>你取消了本次匹配比赛...</string>
   <key>pvptips</key>
   <string>本局比赛需消耗%d金币,获胜后获得%d金币</string>
   <key>connecting</key>
   <string>匹配对手中，请稍后...</string>
   <key>quittitle</key>
   <string>离开</string>
   <key>quit</key>
   <string>你要离开水浒物语吗？</string>
   <key>back</key>
   <string>你当前正在战斗状态，现在返回你将不会获得任何奖励...</string>
</dict>  
</plist> 