<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>btns/about_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,524},{63,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{63,62}</string>
			</dict>
			<key>btns/about_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,587},{63,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{63,62}</string>
			</dict>
			<key>btns/changhero1.png</key>
			<dict>
				<key>frame</key>
				<string>{{459,268},{133,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{133,69}</string>
			</dict>
			<key>btns/changhero2.png</key>
			<dict>
				<key>frame</key>
				<string>{{773,100},{133,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{133,69}</string>
			</dict>
			<key>btns/getmoney1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,380},{113,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,52}</string>
			</dict>
			<key>btns/getmoney2.png</key>
			<dict>
				<key>frame</key>
				<string>{{964,357},{113,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,53}</string>
			</dict>
			<key>btns/heroup1.png</key>
			<dict>
				<key>frame</key>
				<string>{{634,232},{133,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,69}</string>
			</dict>
			<key>btns/heroup2.png</key>
			<dict>
				<key>frame</key>
				<string>{{767,233},{133,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{133,69}</string>
			</dict>
			<key>btns/levelup1.png</key>
			<dict>
				<key>frame</key>
				<string>{{388,500},{112,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,69}</string>
			</dict>
			<key>btns/levelup2.png</key>
			<dict>
				<key>frame</key>
				<string>{{457,533},{112,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,69}</string>
			</dict>
			<key>btns/login1.png</key>
			<dict>
				<key>frame</key>
				<string>{{757,827},{112,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,69}</string>
			</dict>
			<key>btns/login2.png</key>
			<dict>
				<key>frame</key>
				<string>{{826,874},{112,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,69}</string>
			</dict>
			<key>btns/menu_sound_off_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,650},{63,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,63}</string>
			</dict>
			<key>btns/menu_sound_off_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,694},{63,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,63}</string>
			</dict>
			<key>btns/menu_sound_on_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,697},{63,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,63}</string>
			</dict>
			<key>btns/menu_sound_on_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,697},{63,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,63}</string>
			</dict>
			<key>btns/ok1.png</key>
			<dict>
				<key>frame</key>
				<string>{{565,169},{149,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{149,69}</string>
			</dict>
			<key>btns/ok2.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,100},{150,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,69}</string>
			</dict>
			<key>btns/qianghua1.png</key>
			<dict>
				<key>frame</key>
				<string>{{634,301},{133,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,69}</string>
			</dict>
			<key>btns/qianghua2.png</key>
			<dict>
				<key>frame</key>
				<string>{{767,366},{133,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{133,69}</string>
			</dict>
			<key>btns/yinxiong1.png</key>
			<dict>
				<key>frame</key>
				<string>{{895,874},{112,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,69}</string>
			</dict>
			<key>btns/yinxiong2.png</key>
			<dict>
				<key>frame</key>
				<string>{{895,943},{112,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,69}</string>
			</dict>
			<key>btns/zhaomu1.png</key>
			<dict>
				<key>frame</key>
				<string>{{458,401},{132,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{132,68}</string>
			</dict>
			<key>btns/zhaomu2.png</key>
			<dict>
				<key>frame</key>
				<string>{{528,318},{132,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{132,69}</string>
			</dict>
			<key>btns/zhuangbei1.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,815},{112,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,69}</string>
			</dict>
			<key>btns/zhuangbei2.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,884},{112,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,69}</string>
			</dict>
			<key>btns/details1.png</key>
			<dict>
				<key>frame</key>
				<string>{{526,450},{132,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{132,68}</string>
			</dict>
			<key>btns/details2.png</key>
			<dict>
				<key>frame</key>
				<string>{{594,508},{132,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,68}</string>
			</dict>
			<key>icos/ui_coin.png</key>
			<dict>
				<key>frame</key>
				<string>{{725,762},{64,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>icos/star.png</key>
			<dict>
				<key>frame</key>
				<string>{{991,334},{24,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,23}</string>
			</dict>
			<key>icos/diamond.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,246},{49,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,43}</string>
			</dict>
			<key>icos/mdefine.png</key>
			<dict>
				<key>frame</key>
				<string>{{526,582},{63,63}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>icos/mp.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,762},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>icos/speed.png</key>
			<dict>
				<key>frame</key>
				<string>{{164,762},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>icos/hp.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,432},{46,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>icos/define.png</key>
			<dict>
				<key>frame</key>
				<string>{{279,191},{50,63}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>icos/crit.png</key>
			<dict>
				<key>frame</key>
				<string>{{228,762},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>icos/block.png</key>
			<dict>
				<key>frame</key>
				<string>{{292,762},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>icos/ap.png</key>
			<dict>
				<key>frame</key>
				<string>{{663,729},{63,62}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>icos/xp1.png</key>
			<dict>
				<key>frame</key>
				<string>{{991,0},{334,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{334,22}</string>
			</dict>
			<key>icos/xp2.png</key>
			<dict>
				<key>frame</key>
				<string>{{964,0},{340,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{340,27}</string>
			</dict>
			<key>icos/headbk4.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,380},{144,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,144}</string>
			</dict>
			<key>icos/IF.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,246},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>icos/level.png</key>
			<dict>
				<key>frame</key>
				<string>{{279,100},{210,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,91}</string>
			</dict>
			<key>btns/war1.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,505},{95,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,85}</string>
			</dict>
			<key>btns/war2.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,524},{95,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,85}</string>
			</dict>
			<key>btns/tujian1.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,590},{94,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,85}</string>
			</dict>
			<key>btns/tujian2.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,612},{94,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,85}</string>
			</dict>
			<key>btns/team1.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,675},{94,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,85}</string>
			</dict>
			<key>btns/team2.png</key>
			<dict>
				<key>frame</key>
				<string>{{589,644},{94,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,85}</string>
			</dict>
			<key>btns/store1.png</key>
			<dict>
				<key>frame</key>
				<string>{{475,645},{94,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,85}</string>
			</dict>
			<key>btns/store2.png</key>
			<dict>
				<key>frame</key>
				<string>{{569,729},{94,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,85}</string>
			</dict>
			<key>btns/home1.png</key>
			<dict>
				<key>frame</key>
				<string>{{475,730},{94,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,85}</string>
			</dict>
			<key>btns/home2.png</key>
			<dict>
				<key>frame</key>
				<string>{{663,822},{94,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,84}</string>
			</dict>
			<key>btns/hero1.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,609},{95,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,85}</string>
			</dict>
			<key>btns/hero2.png</key>
			<dict>
				<key>frame</key>
				<string>{{569,814},{94,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,85}</string>
			</dict>
			<key>btns/abandon1.png</key>
			<dict>
				<key>frame</key>
				<string>{{836,432},{132,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{132,69}</string>
			</dict>
			<key>btns/abandon2.png</key>
			<dict>
				<key>frame</key>
				<string>{{905,470},{132,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{132,69}</string>
			</dict>
			<key>btns/sell1.png</key>
			<dict>
				<key>frame</key>
				<string>{{597,370},{132,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,69}</string>
			</dict>
			<key>btns/sell2.png</key>
			<dict>
				<key>frame</key>
				<string>{{597,439},{132,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,69}</string>
			</dict>
			<key>icos/critDmg.png</key>
			<dict>
				<key>frame</key>
				<string>{{356,762},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>icos/add.png</key>
			<dict>
				<key>frame</key>
				<string>{{639,100},{132,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{132,134}</string>
			</dict>
			<key>icos/addbutton.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,100},{144,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,146}</string>
			</dict>
			<key>btns/btn_save_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,499},{132,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{132,69}</string>
			</dict>
			<key>btns/btn_save_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{798,564},{132,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{132,69}</string>
			</dict>
			<key>btns/battleed1.png</key>
			<dict>
				<key>frame</key>
				<string>{{867,602},{132,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,69}</string>
			</dict>
			<key>btns/battleed2.png</key>
			<dict>
				<key>frame</key>
				<string>{{867,671},{132,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,69}</string>
			</dict>
			<key>btns/unBattleed1.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,369},{132,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,69}</string>
			</dict>
			<key>btns/unBattleed2.png</key>
			<dict>
				<key>frame</key>
				<string>{{389,369},{131,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{131,69}</string>
			</dict>
			<key>btns/equipmented1.png</key>
			<dict>
				<key>frame</key>
				<string>{{725,631},{131,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{131,67}</string>
			</dict>
			<key>btns/equipmented2.png</key>
			<dict>
				<key>frame</key>
				<string>{{594,576},{131,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{131,68}</string>
			</dict>
			<key>btns/unEquipmented1.png</key>
			<dict>
				<key>frame</key>
				<string>{{792,696},{131,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{131,67}</string>
			</dict>
			<key>btns/unEquipmented2.png</key>
			<dict>
				<key>frame</key>
				<string>{{859,740},{131,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{131,67}</string>
			</dict>
			<key>icos/heroap.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,100},{195,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{195,135}</string>
			</dict>
			<key>btns/dibutton1.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,292},{223,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{223,77}</string>
			</dict>
			<key>btns/dibutton2.png</key>
			<dict>
				<key>frame</key>
				<string>{{342,191},{223,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{223,77}</string>
			</dict>
			<key>btns/tianbutton1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,902},{236,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{236,85}</string>
			</dict>
			<key>btns/tianbutton2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,295},{236,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{236,85}</string>
			</dict>
			<key>btns/buy1.png</key>
			<dict>
				<key>frame</key>
				<string>{{859,807},{131,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{131,67}</string>
			</dict>
			<key>btns/buy2.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,827},{131,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{131,67}</string>
			</dict>
			<key>btns/buyed1.png</key>
			<dict>
				<key>frame</key>
				<string>{{231,827},{131,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{131,67}</string>
			</dict>
			<key>btns/buyed2.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,438},{131,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{131,67}</string>
			</dict>
			<key>btns/btnBattle1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{432,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{432,100}</string>
			</dict>
			<key>btns/btnBattle2.png</key>
			<dict>
				<key>frame</key>
				<string>{{432,0},{432,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{432,100}</string>
			</dict>
			<key>btns/btnPvp1.png</key>
			<dict>
				<key>frame</key>
				<string>{{864,0},{432,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{432,100}</string>
			</dict>
			<key>btns/btnPvp2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,470},{432,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{432,100}</string>
			</dict>
			<key>btns/btnClose1.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,246},{49,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,46}</string>
			</dict>
			<key>btns/btnClose2.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,246},{49,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,46}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ui_1.png</string>
			<key>realTextureFileName</key>
			<string>ui_1.png</string>
			<key>size</key>
			<string>{1017,1012}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1017</integer>
			<key>height</key>
			<integer>1012</integer>
		</dict>
	</dict>
</plist>